# Credentials

In [22]:
%store -r api_key
%store -r secret_key

# Connection

In [26]:
from binance.client import Client
import pandas as pd

In [28]:
client = Client(api_key = api_key, api_secret = secret_key)

# Getting historical data (OHLC & Volumn)

In [41]:
timestamp = client._get_earliest_valid_timestamp(symbol='BTCJPY', interval='1d')
timestamp
pd.to_datetime(timestamp, unit='ms')  # earliest data available on Binance

Timestamp('2024-03-12 00:00:00')

In [45]:
bars = client.get_historical_klines(
    symbol='BTCJPY',
    interval='1d',
    start_str=timestamp,
    limit=100
)
bars

[[1710201600000,
  '10576524.00000000',
  '16000000.00000000',
  '961586.00000000',
  '10332900.00000000',
  '23.18391300',
  1710287999999,
  '183112609.97469800',
  5169,
  '13.77746000',
  '97741727.22416600',
  '0'],
 [1710288000000,
  '10429778.00000000',
  '10899998.00000000',
  '7777777.00000000',
  '10765784.00000000',
  '17.28109700',
  1710374399999,
  '182916166.65346500',
  5834,
  '7.13473500',
  '75335537.69251600',
  '0'],
 [1710374400000,
  '10750913.00000000',
  '10900000.00000000',
  '10103156.00000000',
  '10591919.00000000',
  '21.24792400',
  1710460799999,
  '225718023.86590900',
  4799,
  '12.95506500',
  '137462526.74850700',
  '0'],
 [1710460800000,
  '10583011.00000000',
  '10900000.00000000',
  '8855371.00000000',
  '10349850.00000000',
  '48.90144300',
  1710547199999,
  '496073084.21921000',
  6749,
  '30.18063700',
  '307501997.67745500',
  '0'],
 [1710547200000,
  '10375931.00000000',
  '10461889.00000000',
  '9200000.00000000',
  '9711107.00000000',
  '20.11812700',
  1710633599999,
  '201956223.73427000',
  4961,
  '10.43521600',
  '105461302.10491200',
  '0'],
 [1710633600000,
  '9742291.00000000',
  '10260964.00000000',
  '9401927.00000000',
  '10204053.00000000',
  '15.96411700',
  1710719999999,
  '158126283.75187900',
  4901,
  '8.18403400',
  '81110602.55521100',
  '0'],
 [1710720000000,
  '10185039.00000000',
  '10400000.00000000',
  '9953984.00000000',
  '10109323.00000000',
  '13.51748300',
  1710806399999,
  '136933177.81199700',
  8902,
  '8.28273100',
  '84067652.63231100',
  '0'],
 [1710806400000,
  '10108323.00000000',
  '10400000.00000000',
  '9300678.00000000',
  '9343227.00000000',
  '26.33734900',
  1710892799999,
  '254329788.23925100',
  8646,
  '12.25097800',
  '118495848.22463100',
  '0'],
 [1710892800000,
  '9380927.00000000',
  '10295542.00000000',
  '9269326.00000000',
  '10229027.00000000',
  '22.16974800',
  1710979199999,
  '215021716.41693500',
  4504,
  '12.40883400',
  '120560303.47744000',
  '0'],
 [1710979200000,
  '10230000.00000000',
  '10470020.00000000',
  '9848334.00000000',
  '9966731.00000000',
  '15.54748400',
  1711065599999,
  '158286690.67440700',
  5602,
  '8.94213000',
  '91380223.37482600',
  '0'],
 [1711065600000,
  '9969303.00000000',
  '10119311.00000000',
  '9490000.00000000',
  '9693286.00000000',
  '23.85713700',
  1711151999999,
  '233487281.91293800',
  5010,
  '11.06184100',
  '108151758.52885800',
  '0'],
 [1711152000000,
  '9694115.00000000',
  '10000000.00000000',
  '9567142.00000000',
  '9705536.00000000',
  '13.02995700',
  1711238399999,
  '127394840.44162900',
  4664,
  '7.03672000',
  '68860168.39094400',
  '0'],
 [1711238400000,
  '9701833.00000000',
  '10193308.00000000',
  '9684087.00000000',
  '10175669.00000000',
  '17.84625500',
  1711324799999,
  '176244272.95499200',
  4362,
  '8.38862800',
  '82846337.58722300',
  '0'],
 [1711324800000,
  '10170250.00000000',
  '10783213.00000000',
  '10028560.00000000',
  '10582322.00000000',
  '32.52451400',
  1711411199999,
  '337053085.83121100',
  5054,
  '14.29081400',
  '148084528.68140200',
  '0'],
 [1711411200000,
  '10581407.00000000',
  '10800000.00000000',
  '10505885.00000000',
  '10609804.00000000',
  '21.36837100',
  1711497599999,
  '227607435.83410000',
  5049,
  '11.80107700',
  '125786470.03268100',
  '0'],
 [1711497600000,
  '10605388.00000000',
  '10843033.00000000',
  '10364092.00000000',
  '10536039.00000000',
  '25.72449600',
  1711583999999,
  '272920051.99922900',
  5911,
  '14.50112700',
  '154044287.40673800',
  '0'],
 [1711584000000,
  '10528964.00000000',
  '10849999.00000000',
  '10470645.00000000',
  '10723711.00000000',
  '23.55634900',
  1711670399999,
  '251703293.55750300',
  5064,
  '11.02313300',
  '117759776.58020800',
  '0'],
 [1711670400000,
  '10724478.00000000',
  '10850000.00000000',
  '10500000.00000000',
  '10631843.00000000',
  '20.66319600',
  1711756799999,
  '219893365.32957700',
  5582,
  '10.72388000',
  '114193024.80808700',
  '0'],
 [1711756800000,
  '10620152.00000000',
  '10825000.00000000',
  '10531431.00000000',
  '10580064.00000000',
  '13.08509100',
  1711843199999,
  '139243993.44000800',
  3993,
  '6.66788200',
  '71004407.37448100',
  '0'],
 [1711843200000,
  '10580064.00000000',
  '10800000.00000000',
  '10580064.00000000',
  '10794613.00000000',
  '13.59038100',
  1711929599999,
  '144887427.03691600',
  4325,
  '5.15407900',
  '55004736.98154100',
  '0'],
 [1711929600000,
  '10794183.00000000',
  '10795144.00000000',
  '10400000.00000000',
  '10591970.00000000',
  '25.09730200',
  1712015999999,
  '265862775.79691600',
  6496,
  '11.01788600',
  '116753185.82580900',
  '0'],
 [1712016000000,
  '10580001.00000000',
  '10830000.00000000',
  '9826620.00000000',
  '9980000.00000000',
  '36.70358100',
  1712102399999,
  '376613248.04377800',
  9148,
  '18.47991900',
  '189926811.85482800',
  '0'],
 [1712102400000,
  '9969801.00000000',
  '10230896.00000000',
  '9850001.00000000',
  '10039453.00000000',
  '15.49399200',
  1712188799999,
  '156091816.75020000',
  4063,
  '7.49765400',
  '75522042.43384300',
  '0'],
 [1712188800000,
  '10030007.00000000',
  '10510565.00000000',
  '9880121.00000000',
  '10399929.00000000',
  '18.50484500',
  1712275199999,
  '187739445.31800600',
  4619,
  '8.39512600',
  '85477841.33189000',
  '0'],
 [1712275200000,
  '10380693.00000000',
  '10431366.00000000',
  '10092175.00000000',
  '10308525.00000000',
  '21.37945300',
  1712361599999,
  '218942049.31840700',
  6411,
  '11.16794200',
  '114269225.91154600',
  '0'],
 [1712361600000,
  '10296916.00000000',
  '10574023.00000000',
  '10259999.00000000',
  '10439986.00000000',
  '9.42275800',
  1712447999999,
  '97394611.22381000',
  2559,
  '4.91978500',
  '50856287.12087000',
  '0'],
 [1712448000000,
  '10452539.00000000',
  '10664173.00000000',
  '10445557.00000000',
  '10524760.00000000',
  '12.67825400',
  1712534399999,
  '133502436.80329600',
  3770,
  '5.99261500',
  '63120285.41383000',
  '0'],
 [1712534400000,
  '10523457.00000000',
  '11032525.00000000',
  '10500000.00000000',
  '10878010.00000000',
  '38.05637000',
  1712620799999,
  '412801774.01887100',
  7542,
  '19.92155100',
  '216074485.49595100',
  '0'],
 [1712620800000,
  '10876145.00000000',
  '10912084.00000000',
  '10359703.00000000',
  '10503417.00000000',
  '65.12957000',
  1712707199999,
  '696286864.95996700',
  7778,
  '47.66040800',
  '510146145.30566200',
  '0'],
 [1712707200000,
  '10487099.00000000',
  '10628021.00000000',
  '10235312.00000000',
  '10507436.00000000',
  '55.63343000',
  1712793599999,
  '580911673.48844400',
  8757,
  '39.16402300',
  '408518061.12586400',
  '0'],
 [1712793600000,
  '10483617.00000000',
  '10865217.00000000',
  '10028881.00000000',
  '10340415.00000000',
  '56.64078000',
  1712879999999,
  '600619591.90250000',
  6453,
  '46.27531900',
  '491038264.11863100',
  '0'],
 [1712880000000,
  '10330828.00000000',
  '10888161.00000000',
  '10250000.00000000',
  '10372941.00000000',
  '86.89006900',
  1712966399999,
  '923655846.83444500',
  11071,
  '68.59960600',
  '729728208.12975000',
  '0'],
 [1712966400000,
  '10372000.00000000',
  '10482153.00000000',
  '9560000.00000000',
  '9985595.00000000',
  '23.90572300',
  1713052799999,
  '243623147.49233400',
  7489,
  '11.98085300',
  '122384024.52515300',
  '0'],
 [1713052800000,
  '9990354.00000000',
  '10151799.00000000',
  '9674018.00000000',
  '10129418.00000000',
  '23.23581800',
  1713139199999,
  '230352890.46432900',
  4939,
  '10.64269000',
  '105635770.14072800',
  '0'],
 [1713139200000,
  '10098100.00000000',
  '10364644.00000000',
  '9727497.00000000',
  '9850000.00000000',
  '27.20392000',
  1713225599999,
  '274858613.38721300',
  5722,
  '13.16648200',
  '133098376.86834600',
  '0'],
 [1713225600000,
  '9841000.00000000',
  '10002000.00000000',
  '9640359.00000000',
  '9910643.00000000',
  '27.84002000',
  1713311999999,
  '272926787.85032800',
  6171,
  '13.39198300',
  '131520850.06265600',
  '0'],
 [1713312000000,
  '9893905.00000000',
  '10041186.00000000',
  '9346428.00000000',
  '9506384.00000000',
  '29.39784400',
  1713398399999,
  '285635996.89891400',
  6659,
  '12.69653900',
  '123878702.13942600',
  '0'],
 [1713398400000,
  '9500000.00000000',
  '9918000.00000000',
  '9448750.00000000',
  '9850678.00000000',
  '28.38721900',
  1713484799999,
  '274383000.46683000',
  6841,
  '13.91498900',
  '134548230.52337300',
  '0'],
 [1713484800000,
  '9843300.00000000',
  '10152559.00000000',
  '9271545.00000000',
  '9896929.00000000',
  '36.17595700',
  1713571199999,
  '355105813.86838600',
  6915,
  '19.80650600',
  '195186118.91087500',
  '0'],
 [1713571200000,
  '9885700.00000000',
  '10122869.00000000',
  '9793967.00000000',
  '10073888.00000000',
  '12.02883100',
  1713657599999,
  '119703824.27220100',
  3496,
  '6.70979100',
  '66857320.73762700',
  '0'],
 [1713657600000,
  '10067126.00000000',
  '10190000.00000000',
  '9979700.00000000',
  '10065481.00000000',
  '13.82025500',
  1713743999999,
  '139430121.03213000',
  4525,
  '5.68519400',
  '57391016.14093700',
  '0'],
 [1713744000000,
  '10071900.00000000',
  '10419999.00000000',
  '10040000.00000000',
  '10382288.00000000',
  '22.53148500',
  1713830399999,
  '230596005.54729500',
  5168,
  '12.31948600',
  '126254861.82110000',
  '0'],
 [1713830400000,
  '10375841.00000000',
  '10430188.00000000',
  '10229076.00000000',
  '10297385.00000000',
  '16.22183600',
  1713916799999,
  '167433801.10673100',
  4492,
  '9.12433300',
  '94236258.58135100',
  '0'],
 [1713916800000,
  '10316500.00000000',
  '10399999.00000000',
  '9926896.00000000',
  '10014539.00000000',
  '22.32780400',
  1714003199999,
  '227919898.12876400',
  4525,
  '9.86319800',
  '101413630.10044500',
  '0'],
 [1714003200000,
  '10001000.00000000',
  '10140000.00000000',
  '9809026.00000000',
  '10045100.00000000',
  '23.63619000',
  1714089599999,
  '236178846.93985400',
  5270,
  '11.81913100',
  '118259579.48057000',
  '0'],
 [1714089600000,
  '10048499.00000000',
  '10170000.00000000',
  '9978129.00000000',
  '10088008.00000000',
  '17.47573500',
  1714175999999,
  '176006783.07832700',
  3474,
  '9.42059100',
  '94984977.61703900',
  '0'],
 [1714176000000,
  '10096938.00000000',
  '10120417.00000000',
  '9950002.00000000',
  '10039739.00000000',
  '10.36084400',
  1714262399999,
  '103731999.56990000',
  3306,
  '5.04600100',
  '50535722.26528900',
  '0'],
 [1714262400000,
  '10044999.00000000',
  '10169999.00000000',
  '9975000.00000000',
  '10010957.00000000',
  '8.04161600',
  1714348799999,
  '81104275.31905400',
  1905,
  '4.08461500',
  '41243789.11938100',
  '0'],
 [1714348800000,
  '10004061.00000000',
  '10122869.00000000',
  '9656909.00000000',
  '9980070.00000000',
  '27.48514200',
  1714435199999,
  '270196869.79307400',
  6968,
  '12.87516400',
  '126629113.74848200',
  '0'],
 [1714435200000,
  '9984308.00000000',
  '10122222.00000000',
  '9422599.00000000',
  '9638397.00000000',
  '28.79981200',
  1714521599999,
  '281797064.90402400',
  5931,
  '13.48755800',
  '132413616.14042500',
  '0'],
 [1714521600000,
  '9639913.00000000',
  '9662232.00000000',
  '8831180.00000000',
  '9142538.00000000',
  '33.17460400',
  1714607999999,
  '306961321.80777300',
  7586,
  '13.85660200',
  '128485794.30615900',
  '0'],
 [1714608000000,
  '9138698.00000000',
  '9193965.00000000',
  '8914133.00000000',
  '9068736.00000000',
  '22.44306200',
  1714694399999,
  '203479567.06373900',
  5778,
  '12.31670400',
  '111857348.83868000',
  '0'],
 [1714694400000,
  '9068736.00000000',
  '9693286.00000000',
  '9041526.00000000',
  '9625609.00000000',
  '23.62950200',
  1714780799999,
  '218547788.00837300',
  5588,
  '11.54823100',
  '107159012.39473100',
  '0'],
 [1714780800000,
  '9634569.00000000',
  '9920000.00000000',
  '9599061.00000000',
  '9789141.00000000',
  '14.89822600',
  1714867199999,
  '144746777.39799300',
  3794,
  '5.90253300',
  '57508730.57268700',
  '0'],
 [1714867200000,
  '9806999.00000000',
  '9892840.00000000',
  '9624384.00000000',
  '9855422.00000000',
  '10.48626100',
  1714953599999,
  '102237089.12387400',
  2629,
  '2.51807200',
  '24588449.91633700',
  '0'],
 [1714953600000,
  '9855191.00000000',
  '10069999.00000000',
  '9685423.00000000',
  '9769089.00000000',
  '17.87579100',
  1715039999999,
  '176395907.68941600',
  4893,
  '9.33955000',
  '92381564.45362200',
  '0'],
 [1715040000000,
  '9776758.00000000',
  '9953104.00000000',
  '9652000.00000000',
  '9678858.00000000',
  '20.26743200',
  1715126399999,
  '199494386.28622800',
  5303,
  '9.57584500',
  '94216281.95709700',
  '0'],
 [1715126400000,
  '9680026.00000000',
  '9832150.00000000',
  '9490017.00000000',
  '9530148.00000000',
  '21.08899300',
  1715212799999,
  '204802286.94076600',
  8155,
  '11.60966600',
  '112925075.60926100',
  '0'],
 [1715212800000,
  '9534625.00000000',
  '9859399.00000000',
  '9455521.00000000',
  '9807938.00000000',
  '18.36932800',
  1715299199999,
  '176307530.36556500',
  5517,
  '9.96842900',
  '95688167.77675500',
  '0'],
 [1715299200000,
  '9816621.00000000',
  '9916142.00000000',
  '9410398.00000000',
  '9515367.00000000',
  '39.65644600',
  1715385599999,
  '387112295.67976900',
  7734,
  '13.31340900',
  '130070047.74555600',
  '0'],
 [1715385600000,
  '9503728.00000000',
  '9614555.00000000',
  '9460467.00000000',
  '9505970.00000000',
  '8.22707500',
  1715471999999,
  '78283959.87243200',
  3701,
  '4.25898500',
  '40548591.41826500',
  '0'],
 [1715472000000,
  '9505390.00000000',
  '9651224.00000000',
  '9485000.00000000',
  '9596731.00000000',
  '11.77541500',
  1715558399999,
  '112407648.03562600',
  4958,
  '6.43591100',
  '61461354.27691700',
  '0'],
 [1715558400000,
  '9612957.00000000',
  '9910000.00000000',
  '9500000.00000000',
  '9841514.00000000',
  '18.59693600',
  1715644799999,
  '180475227.01955100',
  5923,
  '10.54664300',
  '102339543.84241500',
  '0'],
 [1715644800000,
  '9846628.00000000',
  '9900000.00000000',
  '9602305.00000000',
  '9678106.00000000',
  '15.59160800',
  1715731199999,
  '152106645.71498700',
  6172,
  '9.26137700',
  '90430257.15160200',
  '0'],
 [1715731200000,
  '9675546.00000000',
  '10298120.00000000',
  '9635005.00000000',
  '10228375.00000000',
  '22.86733300',
  1715817599999,
  '227019454.31950100',
  6406,
  '13.57022800',
  '134951790.01474500',
  '0'],
 [1715817600000,
  '10223686.00000000',
  '10317490.00000000',
  '10040001.00000000',
  '10172321.00000000',
  '22.54511700',
  1715903999999,
  '230730087.95887100',
  6899,
  '10.99095000',
  '112594900.43689600',
  '0'],
 [1715904000000,
  '10165794.00000000',
  '10486538.00000000',
  '10155005.00000000',
  '10435982.00000000',
  '16.50290700',
  1715990399999,
  '170394057.06871400',
  6456,
  '9.40167500',
  '97092650.54410300',
  '0'],
 [1715990400000,
  '10435039.00000000',
  '10499999.00000000',
  '10390000.00000000',
  '10437302.00000000',
  '7.40709500',
  1716076799999,
  '77336937.20273400',
  4299,
  '4.35420600',
  '45468945.38297800',
  '0'],
 [1716076800000,
  '10438523.00000000',
  '10537342.00000000',
  '10277193.00000000',
  '10345140.00000000',
  '11.83492900',
  1716163199999,
  '123493691.06115100',
  6908,
  '6.04435700',
  '63144426.27232300',
  '0'],
 [1716163200000,
  '10341188.00000000',
  '11180881.00000000',
  '10327722.00000000',
  '11151000.00000000',
  '43.41098500',
  1716249599999,
  '463289206.81676600',
  11861,
  '19.29199200',
  '205525231.62691800',
  '0'],
 [1716249600000,
  '11159808.00000000',
  '11225119.00000000',
  '10806882.00000000',
  '10961866.00000000',
  '27.07799300',
  1716335999999,
  '299420833.31174800',
  6864,
  '14.59740100',
  '161462243.25243500',
  '0'],
 [1716336000000,
  '10968375.00000000',
  '11044702.00000000',
  '10823749.00000000',
  '10827928.00000000',
  '26.19726500',
  1716422399999,
  '286587501.14072300',
  5501,
  '18.01948700',
  '197098497.55400000',
  '0'],
 [1716422400000,
  '10836744.00000000',
  '10991845.00000000',
  '10492167.00000000',
  '10699121.00000000',
  '23.48115900',
  1716508799999,
  '253908763.32021100',
  7658,
  '10.76343100',
  '116614260.06397300',
  '0'],
 [1716508800000,
  '10699519.00000000',
  '10865638.00000000',
  '10509216.00000000',
  '10748218.00000000',
  '22.69502600',
  1716595199999,
  '242011591.31001500',
  7789,
  '10.24718800',
  '109295039.49563200',
  '0'],
 [1716595200000,
  '10762207.00000000',
  '10920501.00000000',
  '10757095.00000000',
  '10880988.00000000',
  '8.33228900',
  1716681599999,
  '90337849.17232500',
  3595,
  '4.72734000',
  '51264497.26514600',
  '0'],
 [1716681600000,
  '10886626.00000000',
  '10906498.00000000',
  '10711662.00000000',
  '10760627.00000000',
  '8.50674900',
  1716767999999,
  '92216883.55773600',
  5541,
  '4.19970100',
  '45539541.42954200',
  '0'],
 [1716768000000,
  '10759659.00000000',
  '11121646.00000000',
  '10735000.00000000',
  '10906547.00000000',
  '22.15445100',
  1716854399999,
  '240376255.62046800',
  6653,
  '10.01223500',
  '108627427.88250000',
  '0'],
 [1716854400000,
  '10906668.00000000',
  '10935435.00000000',
  '10609992.00000000',
  '10765589.00000000',
  '26.60360000',
  1716940799999,
  '285648112.15035700',
  7585,
  '12.24824700',
  '131598340.30492200',
  '0'],
 [1716940800000,
  '10773471.00000000',
  '10895000.00000000',
  '10627206.00000000',
  '10679596.00000000',
  '16.82252000',
  1717027199999,
  '181096499.25803900',
  5596,
  '8.96187300',
  '96450678.35164500',
  '0'],
 [1717027200000,
  '10678155.00000000',
  '10890066.00000000',
  '10611407.00000000',
  '10752499.00000000',
  '21.66342500',
  1717113599999,
  '232205328.76926800',
  6660,
  '11.28236500',
  '121037318.34243900',
  '0'],
 [1717113600000,
  '10751257.00000000',
  '10850000.00000000',
  '10503221.00000000',
  '10635617.00000000',
  '30.79518400',
  1717199999999,
  '328719758.12729500',
  6425,
  '17.68209400',
  '188082768.37934900',
  '0'],
 [1717200000000,
  '10645749.00000000',
  '10689998.00000000',
  '10600860.00000000',
  '10670184.00000000',
  '9.42959600',
  1717286399999,
  '100491850.77096400',
  2469,
  '4.30136000',
  '45852134.88400500',
  '0'],
 [1717286400000,
  '10673619.00000000',
  '10765000.00000000',
  '10605591.00000000',
  '10670682.00000000',
  '11.26883900',
  1717372799999,
  '120486691.70031200',
  4634,
  '5.47539700',
  '58565027.54217500',
  '0'],
 [1717372800000,
  '10666911.00000000',
  '11004960.00000000',
  '10652857.00000000',
  '10767798.00000000',
  '20.16123900',
  1717459199999,
  '218635827.47066800',
  5462,
  '9.40737200',
  '102022346.93325400',
  '0'],
 [1717459200000,
  '10771976.00000000',
  '10995000.00000000',
  '10692214.00000000',
  '10945611.00000000',
  '16.60152200',
  1717545599999,
  '179358958.78985000',
  4659,
  '6.80736800',
  '73566807.48444700',
  '0'],
 [1717545600000,
  '10941986.00000000',
  '11231794.00000000',
  '10937068.00000000',
  '11100281.00000000',
  '25.87735600',
  1717631999999,
  '286831772.04017100',
  5887,
  '12.15018900',
  '134679684.21643300',
  '0'],
 [1717632000000,
  '11100281.00000000',
  '11185344.00000000',
  '10986377.00000000',
  '11067459.00000000',
  '22.54286300',
  1717718399999,
  '250296793.38031600',
  6199,
  '10.26855200',
  '114021409.79053100',
  '0'],
 [1717718400000,
  '11067204.00000000',
  '11239738.00000000',
  '10840000.00000000',
  '10953838.00000000',
  '34.46598200',
  1717804799999,
  '381307081.81930300',
  9272,
  '15.39667700',
  '170322038.88184500',
  '0'],
 [1717804800000,
  '10949947.00000000',
  '10978706.00000000',
  '10900000.00000000',
  '10906769.00000000',
  '14.58199200',
  1717891199999,
  '159462125.13349200',
  4006,
  '6.42933200',
  '70306912.66869200',
  '0'],
 [1717891200000,
  '10908685.00000000',
  '10970988.00000000',
  '10864736.00000000',
  '10948487.00000000',
  '13.30933500',
  1717977599999,
  '145199306.53464800',
  4445,
  '6.10611500',
  '66578436.87273200',
  '0'],
 [1717977600000,
  '10947521.00000000',

In [47]:
df = pd.DataFrame(bars)
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1710201600000,10576524.00000000,16000000.00000000,961586.00000000,10332900.00000000,23.18391300,1710287999999,183112609.97469800,5169,13.77746000,97741727.22416600,0
1,1710288000000,10429778.00000000,10899998.00000000,7777777.00000000,10765784.00000000,17.28109700,1710374399999,182916166.65346500,5834,7.13473500,75335537.69251600,0
2,1710374400000,10750913.00000000,10900000.00000000,10103156.00000000,10591919.00000000,21.24792400,1710460799999,225718023.86590900,4799,12.95506500,137462526.74850700,0
3,1710460800000,10583011.00000000,10900000.00000000,8855371.00000000,10349850.00000000,48.90144300,1710547199999,496073084.21921000,6749,30.18063700,307501997.67745500,0
4,1710547200000,10375931.00000000,10461889.00000000,9200000.00000000,9711107.00000000,20.11812700,1710633599999,201956223.73427000,4961,10.43521600,105461302.10491200,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,1718409600000,10414984.00000000,10473475.00000000,10390411.00000000,10439186.00000000,12.70055600,1718495999999,132702557.57524600,5230,4.98011600,52026342.65406300,0
96,1718496000000,10442472.00000000,10559755.00000000,10421396.00000000,10524205.00000000,12.79954200,1718582399999,134124992.53595600,5347,5.69455200,59671546.44720300,0
97,1718582400000,10528953.00000000,10612964.00000000,10307179.00000000,10507586.00000000,26.79256000,1718668799999,280179143.85214900,16529,10.09065200,105459510.45286000,0
98,1718668800000,10506050.00000000,10513930.00000000,10149400.00000000,10297004.00000000,35.74495500,1718755199999,369758480.91504700,11204,14.66554600,151713771.35211800,0
99,1718755200000,10301398.00000000,10402844.00000000,10250018.00000000,10286899.00000000,21.79471000,1718841599999,225362528.50637000,8697,9.89723100,102284856.05886500,0

In [49]:
df['Date'] = pd.to_datetime(df.iloc[:,0], unit='ms')
df

,0,1,2,3,4,5,6,7,8,9,10,11,Date
0,1710201600000,10576524.00000000,16000000.00000000,961586.00000000,10332900.00000000,23.18391300,1710287999999,183112609.97469800,5169,13.77746000,97741727.22416600,0,2024-03-12
1,1710288000000,10429778.00000000,10899998.00000000,7777777.00000000,10765784.00000000,17.28109700,1710374399999,182916166.65346500,5834,7.13473500,75335537.69251600,0,2024-03-13
2,1710374400000,10750913.00000000,10900000.00000000,10103156.00000000,10591919.00000000,21.24792400,1710460799999,225718023.86590900,4799,12.95506500,137462526.74850700,0,2024-03-14
3,1710460800000,10583011.00000000,10900000.00000000,8855371.00000000,10349850.00000000,48.90144300,1710547199999,496073084.21921000,6749,30.18063700,307501997.67745500,0,2024-03-15
4,1710547200000,10375931.00000000,10461889.00000000,9200000.00000000,9711107.00000000,20.11812700,1710633599999,201956223.73427000,4961,10.43521600,105461302.10491200,0,2024-03-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1718409600000,10414984.00000000,10473475.00000000,10390411.00000000,10439186.00000000,12.70055600,1718495999999,132702557.57524600,5230,4.98011600,52026342.65406300,0,2024-06-15
96,1718496000000,10442472.00000000,10559755.00000000,10421396.00000000,10524205.00000000,12.79954200,1718582399999,134124992.53595600,5347,5.69455200,59671546.44720300,0,2024-06-16
97,1718582400000,10528953.00000000,10612964.00000000,10307179.00000000,10507586.00000000,26.79256000,1718668799999,280179143.85214900,16529,10.09065200,105459510.45286000,0,2024-06-17
98,1718668800000,10506050.00000000,10513930.00000000,10149400.00000000,10297004.00000000,35.74495500,1718755199999,369758480.91504700,11204,14.66554600,151713771.35211800,0,2024-06-18
99,1718755200000,10301398.00000000,10402844.00000000,10250018.00000000,10286899.00000000,21.79471000,1718841599999,225362528.50637000,8697,9.89723100,102284856.05886500,0,2024-06-19

In [53]:
df.columns = [
    'Open Time',
    'Open',
    'High',
    'Low',
    'Close',
    'Volumn',
    'Close Time',
    'Quote Asset Volumn',
    'Number of Trades',
    'Taker Buy Base Asset Volumn',
    'Taker Buy Quote Asset Volumn',
    'Ignore',
    'Date',
]
df

,Open Time,Open,High,Low,Close,Volumn,Close Time,Quote Asset Volumn,Number of Trades,Taker Buy Base Asset Volumn,Taker Buy Quote Asset Volumn,Ignore,Date
0,1710201600000,10576524.00000000,16000000.00000000,961586.00000000,10332900.00000000,23.18391300,1710287999999,183112609.97469800,5169,13.77746000,97741727.22416600,0,2024-03-12
1,1710288000000,10429778.00000000,10899998.00000000,7777777.00000000,10765784.00000000,17.28109700,1710374399999,182916166.65346500,5834,7.13473500,75335537.69251600,0,2024-03-13
2,1710374400000,10750913.00000000,10900000.00000000,10103156.00000000,10591919.00000000,21.24792400,1710460799999,225718023.86590900,4799,12.95506500,137462526.74850700,0,2024-03-14
3,1710460800000,10583011.00000000,10900000.00000000,8855371.00000000,10349850.00000000,48.90144300,1710547199999,496073084.21921000,6749,30.18063700,307501997.67745500,0,2024-03-15
4,1710547200000,10375931.00000000,10461889.00000000,9200000.00000000,9711107.00000000,20.11812700,1710633599999,201956223.73427000,4961,10.43521600,105461302.10491200,0,2024-03-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1718409600000,10414984.00000000,10473475.00000000,10390411.00000000,10439186.00000000,12.70055600,1718495999999,132702557.57524600,5230,4.98011600,52026342.65406300,0,2024-06-15
96,1718496000000,10442472.00000000,10559755.00000000,10421396.00000000,10524205.00000000,12.79954200,1718582399999,134124992.53595600,5347,5.69455200,59671546.44720300,0,2024-06-16
97,1718582400000,10528953.00000000,10612964.00000000,10307179.00000000,10507586.00000000,26.79256000,1718668799999,280179143.85214900,16529,10.09065200,105459510.45286000,0,2024-06-17
98,1718668800000,10506050.00000000,10513930.00000000,10149400.00000000,10297004.00000000,35.74495500,1718755199999,369758480.91504700,11204,14.66554600,151713771.35211800,0,2024-06-18
99,1718755200000,10301398.00000000,10402844.00000000,10250018.00000000,10286899.00000000,21.79471000,1718841599999,225362528.50637000,8697,9.89723100,102284856.05886500,0,2024-06-19

In [55]:
df_refined = df[['Date','Open','High','Low','Close','Volumn',]].copy()
df_refined

,Date,Open,High,Low,Close,Volumn
0,2024-03-12,10576524.00000000,16000000.00000000,961586.00000000,10332900.00000000,23.18391300
1,2024-03-13,10429778.00000000,10899998.00000000,7777777.00000000,10765784.00000000,17.28109700
2,2024-03-14,10750913.00000000,10900000.00000000,10103156.00000000,10591919.00000000,21.24792400
3,2024-03-15,10583011.00000000,10900000.00000000,8855371.00000000,10349850.00000000,48.90144300
4,2024-03-16,10375931.00000000,10461889.00000000,9200000.00000000,9711107.00000000,20.11812700
...,...,...,...,...,...,...
95,2024-06-15,10414984.00000000,10473475.00000000,10390411.00000000,10439186.00000000,12.70055600
96,2024-06-16,10442472.00000000,10559755.00000000,10421396.00000000,10524205.00000000,12.79954200
97,2024-06-17,10528953.00000000,10612964.00000000,10307179.00000000,10507586.00000000,26.79256000
98,2024-06-18,10506050.00000000,10513930.00000000,10149400.00000000,10297004.00000000,35.74495500
99,2024-06-19,10301398.00000000,10402844.00000000,10250018.00000000,10286899.00000000,21.79471000

In [57]:
df_refined.set_index('Date', inplace=True)
df_refined

,Open,High,Low,Close,Volumn
Date,,,,,
2024-03-12,10576524.00000000,16000000.00000000,961586.00000000,10332900.00000000,23.18391300
2024-03-13,10429778.00000000,10899998.00000000,7777777.00000000,10765784.00000000,17.28109700
2024-03-14,10750913.00000000,10900000.00000000,10103156.00000000,10591919.00000000,21.24792400
2024-03-15,10583011.00000000,10900000.00000000,8855371.00000000,10349850.00000000,48.90144300
2024-03-16,10375931.00000000,10461889.00000000,9200000.00000000,9711107.00000000,20.11812700
...,...,...,...,...,...
2024-06-15,10414984.00000000,10473475.00000000,10390411.00000000,10439186.00000000,12.70055600
2024-06-16,10442472.00000000,10559755.00000000,10421396.00000000,10524205.00000000,12.79954200
2024-06-17,10528953.00000000,10612964.00000000,10307179.00000000,10507586.00000000,26.79256000
2024-06-18,10506050.00000000,10513930.00000000,10149400.00000000,10297004.00000000,35.74495500
2024-06-19,10301398.00000000,10402844.00000000,10250018.00000000,10286899.00000000,21.79471000

In [65]:
df_refined.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2024-03-12 to 2024-06-19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    100 non-null    object
 1   High    100 non-null    object
 2   Low     100 non-null    object
 3   Close   100 non-null    object
 4   Volumn  100 non-null    object
dtypes: object(5)
memory usage: 4.7+ KB

In [73]:
for column in df_refined.columns:
    df_refined[column] = pd.to_numeric(df_refined[column], errors='coerce')

df_refined.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2024-03-12 to 2024-06-19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    100 non-null    float64
 1   High    100 non-null    float64
 2   Low     100 non-null    float64
 3   Close   100 non-null    float64
 4   Volumn  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB

# To a function

In [96]:
def get_history(symbol, interval, start, end = None):
    bars = client.get_historical_klines(
        symbol=symbol,
        interval=interval,
        start_str=start,
        end_str=end,
        limit=1000,
    )
    df = pd.DataFrame(bars)
    df['Date'] = pd.to_datetime(df.iloc[:,0], unit='ms')
    df.columns = [
        'Open Time',
        'Open',
        'High',
        'Low',
        'Close',
        'Volumn',
        'Close Time',
        'Quote Asset Volumn',
        'Number of Trades',
        'Taker Buy Base Asset Volumn',
        'Taker Buy Quote Asset Volumn',
        'Ignore',
        'Date',
    ]
    df = df[['Date','Open','High','Low','Close','Volumn',]].copy()
    df.set_index('Date', inplace=True)
    for column in df.columns:
        df[column] = pd.to_numeric(df[column], errors='coerce')
    return df

# Daily data until now

In [90]:
timestamp
df = get_history('BTCJPY', interval='1d', start=timestamp)
df

                  Open        High         Low       Close      Volumn
Date
2024-03-12  10576524.0  16000000.0    961586.0  10332900.0   23.183913
2024-03-13  10429778.0  10899998.0   7777777.0  10765784.0   17.281097
2024-03-14  10750913.0  10900000.0  10103156.0  10591919.0   21.247924
2024-03-15  10583011.0  10900000.0   8855371.0  10349850.0   48.901443
2024-03-16  10375931.0  10461889.0   9200000.0   9711107.0   20.118127
...                ...         ...         ...         ...         ...
2025-04-30  13450719.0  13653688.0  13302054.0  13503559.0   61.506759
2025-05-01  13502267.0  14188964.0  13499806.0  14066325.0   87.630689
2025-05-02  14066325.0  14204345.0  13956291.0  14083144.0  101.338616
2025-05-03  14084991.0  14089180.0  13926680.0  13944993.0   22.627945
2025-05-04  13940373.0  13998587.0  13906256.0  13937167.0    8.130584

[419 rows x 5 columns]

# Daily data for specific time period

In [98]:
df = get_history('BTCJPY', interval='1d', start='2025-01-01', end='2025-01-31')
df

                  Open        High         Low       Close      Volumn
Date
2025-01-01  14722949.0  14940115.0  14660143.0  14901914.0   31.543521
2025-01-02  14898470.0  15401700.0  14863336.0  15264969.0   57.863276
2025-01-03  15268690.0  15495944.0  15118180.0  15422984.0   41.221285
2025-01-04  15425341.0  15501838.0  15351071.0  15439484.0   27.946189
2025-01-05  15431375.0  15516203.0  15311546.0  15464354.0   30.170536
2025-01-06  15469061.0  16121806.0  15428294.0  16121806.0   55.746759
2025-01-07  16122273.0  16213001.0  15200489.0  15382792.0   46.746858
2025-01-08  15382792.0  15411947.0  14730110.0  15102139.0   71.795686
2025-01-09  15093867.0  15110421.0  14480008.0  14656641.0   61.314337
2025-01-10  14656641.0  15125252.0  14588173.0  14984909.0   63.550086
2025-01-11  14983810.0  15011244.0  14846632.0  14946896.0   28.708479
2025-01-12  14945795.0  15068421.0  14807806.0  14940272.0   36.312684
2025-01-13  14939308.0  15147576.0  14120000.0  14897765.0  121.773605
2025-01-14  14896901.0  15397243.0  14865049.0  15283861.0   78.114462
2025-01-15  15284438.0  15749989.0  15160242.0  15706017.0   76.020416
2025-01-16  15705909.0  15749982.0  15204363.0  15553103.0  122.051279
2025-01-17  15553095.0  16500357.0  15524819.0  16270924.0  115.437651
2025-01-18  16272896.0  16414754.0  16012713.0  16347341.0   98.203905
2025-01-19  16346976.0  16637043.0  15641671.0  15903260.0  152.418841
2025-01-20  15896024.0  17075295.0  15607003.0  15903000.0  232.306104
2025-01-21  15930149.0  16666719.0  15649704.0  16550205.0  118.803044
2025-01-22  16554232.0  16554517.0  16212785.0  16256926.0   38.985953
2025-01-23  16254328.0  16700000.0  15886997.0  16258303.0   80.885606
2025-01-24  16261320.0  16674952.0  16104784.0  16378654.0   48.459782
2025-01-25  16376235.0  16450971.0  16295499.0  16365900.0   19.685162
2025-01-26  16365536.0  16449180.0  16023915.0  16049999.0   17.455301
2025-01-27  16034787.0  16134138.0  15167147.0  15853892.0   88.134070
2025-01-28  15854999.0  16185747.0  15538624.0  15811561.0   80.920883
2025-01-29  15813634.0  16295696.0  15805832.0  16143771.0   64.012253
2025-01-30  16146314.0  16400000.0  16056687.0  16165190.0   29.498231
2025-01-31  16167157.0  16399671.0  15785967.0  15935428.0   34.987513

In [102]:
df = get_history('BTCJPY', interval='1w', start='2025-01-01', end='2025-01-31')
df
# the last row is the full bar of the week 2025-01-27~2025-02-02,
# even though the end is set to be 2025-01-31
#
# the Date column is the start date of the week

                  Open        High         Low       Close      Volumn
Date
2025-01-06  15469061.0  16213001.0  14480008.0  14940272.0  364.174889
2025-01-13  14939308.0  16637043.0  14120000.0  15903260.0  764.020159
2025-01-20  15896024.0  17075295.0  15607003.0  16049999.0  556.580952
2025-01-27  16034787.0  16400000.0  15008130.0  15156896.0  438.971051

Valid intervals: 1m, 3m, 5m, 30m, 1h, 2h, 4h, 6h, 8h, 12h, 1d, 3d, 1w, 1M

# Most recent intraday data (1m)

In [134]:
import datetime as dt

In [148]:
now = dt.datetime.now(dt.timezone.utc)
now
str(now)

'2025-05-04 08:26:10.228572+00:00'

In [150]:
two_hours_before = now = now - dt.timedelta(hours = 2)
two_hours_before
str(two_hours_before)

'2025-05-04 06:26:10.228572+00:00'

In [152]:
df = get_history(symbol='BTCJPY', interval='1m', start=str(two_hours_before))
df

                           Open        High         Low       Close    Volumn
Date
2025-05-04 06:27:00  13951687.0  13951687.0  13951687.0  13951687.0  0.000000
2025-05-04 06:28:00  13953255.0  13953255.0  13953255.0  13953255.0  0.001981
2025-05-04 06:29:00  13949951.0  13949951.0  13949951.0  13949951.0  0.007131
2025-05-04 06:30:00  13949950.0  13949950.0  13947736.0  13947736.0  0.031142
2025-05-04 06:31:00  13950703.0  13950703.0  13949729.0  13949729.0  0.001512
...                         ...         ...         ...         ...       ...
2025-05-04 08:23:00  13931578.0  13933544.0  13931578.0  13933544.0  0.006044
2025-05-04 08:24:00  13933516.0  13933516.0  13924626.0  13924630.0  0.958010
2025-05-04 08:25:00  13924937.0  13924937.0  13910116.0  13910116.0  0.105303
2025-05-04 08:26:00  13910116.0  13910116.0  13910116.0  13910116.0  0.000000
2025-05-04 08:27:00  13910116.0  13910116.0  13910116.0  13910116.0  0.000000

[121 rows x 5 columns]